<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-button
      label="Go to Calcul"
      variant="primary"
      (click)="goToCalcul()"
    ></app-button>

    <br />
    <hr />

    <app-button
      label="Go to Users"
      variant="primary"
      (click)="goToUsers()"
    ></app-button>
  </div>
</ion-content>
